<events>
	<event>
		<eventText>Jamie and Rachel invent a time machine as a wedding gift to Sean.</eventText>
		<eventDate>05/2015</eventDate>
		<eventSound></eventSound>
	</event>
  <event>
    <eventText>During a team meeting, a loud and suspiciously smelly noise erupts from Sean's location.  No one mentions it though.</eventText>
    <eventDate>06/2015</eventDate>
    <eventSound></eventSound>
  </event>
   <event>
    <eventText>Rachel helps Sean out with a particularly tedious issue.... should he make a toast to the bridesmaids in his speech or is that the best mans job? </eventText>
    <eventDate>07/2015</eventDate>
    <eventSound></eventSound>
  </event>
   <event>
    <eventText>Congratulations!! The most amazing day of your life.  You marry your childhood sweetheart in front of hundreds of tearful onlookers (who the heck invited all of them...Abu...Facebook?)</eventText>
    <eventDate>08/2015</eventDate>
    <eventSound></eventSound>
  </event>
  <event>
    <eventText>Still exhausted from married life you accidently say something you shouldn't to HR team.</eventText>
    <eventDate>09/2015</eventDate>
    <eventSound></eventSound>
  </event>
  <event>
    <eventText>Visit Graz with her new baby.  Apparently she has given it the middle name SEan in the hope it may turn out as helpful as you.</eventText>
    <eventDate>10/2015</eventDate>
    <eventSound></eventSound>
  </event>
   <event>
    <eventText>You get so fed up with one of the testers you shut them in a cupboard over the weekend and play loud rock music so their screams cannot be heard.</eventText>
    <eventDate>11/2015</eventDate>
    <eventSound></eventSound>
  </event>
   <event>
    <eventText>Stuart comes to visit you as he misses your bro-mance so badly.  He is wearing a dress and you find that a bit awkward....</eventText>
    <eventDate>12/2015</eventDate>
    <eventSound></eventSound>
  </event>
  <event>
    <eventText></eventText>
    <eventDate>05/2015</eventDate>
    <eventSound></eventSound>
  </event>
  <event>
    <eventText>During his summer break, Sean develops a rash on his forearm, possibly related to the new device Tosin has been developing.</eventText>
    <eventDate>05/2016</eventDate>
    <eventSound></eventSound>
  </event>
  <event>
    <eventText>During an xbox session with Jamie, Sean confesses his secret crush on a former senior management work colleague.</eventText>
    <eventDate>10/2015</eventDate>
    <eventSound></eventSound>
  </event>
  <event>
    <eventText>Lyndsay and Sean are delighted to announce the safe delivery of their quads, 6 weeks early but all healthy and well.</eventText>
    <eventDate>01/2019</eventDate>
    <eventSound></eventSound>
  </event>
  <event>
    <eventText>Sean takes up a new hobby - flower arranging.  Using his new skills he makes a bouquet for Abu's wife when she safely delivers twins.</eventText>
    <eventDate>04/2025</eventDate>
    <eventSound></eventSound>
  </event>
  <event>
    <eventText>Sean goes to Daryl's retirement party and shows off his new moves on the dance floor.</eventText>
    <eventDate>10/2042</eventDate>
    <eventSound></eventSound>
  </event>
  
</events>
